@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #00ff9d;
}

body {
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Prevent scrolling on mobile */
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a; 
}
::-webkit-scrollbar-thumb:hover {
  background: #00ff9d; 
}

.pixel-font {
  font-family: 'Press Start 2P', cursive;
}
